/* styles.css */

#banner{
    width: 100%;
    max-width: 100%;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Added transition for color change */
}

nav ul li a:hover {
    color: #ffcc00; /* Change color on hover */
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.3s ease; /* Added transition for hover effect */
}

section:hover {
    transform: scale(1.02); /* Grow section on hover */
}

h1, h2, h3 {
    margin-top: 0;
}

/* About Section */
#about {
    background-color: #f9f9f9;
}

/* Portfolio Section */
.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Contact Section */
#contact {
    background-color: #007bff;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
